@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "myfont";
    src: url(" ./assets/fonts/yekan-bakh-fanum-regular.47fb310a.woff");
  }
}
@layer base {
  html {
    font-family: "myfont";
  }
}

:root {
  --primary-color: #66b654;
  --secondary-color: #458f35;
  --warning-color: #ff7a00;
  --error-color: #ff002d;
  --success-color: #179e2a;
  --primary-text-color: #332f2f;
  --secondary-text-color: #79747e;
  --primary-background-color: rgba(233, 238, 239, 0.3);
  --secondary-background-color: rgba(101, 181, 84, 0.095);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* react-verification-input package */
.verifInputContainer {
  width: unset;
  background-color: var(--primary-background-color);
  padding: 0 0.5rem;
  direction: ltr;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.verifInputcharacter {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  width: 40px;
  margin: 0 0.5rem;
  font-size: 20px;
}
.characterSelected {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-text-color);
}

/* swal */
.swal2-popup .swal2-warning {
  font-size: 14px;
}
.swal2-popup .swal2-icon {
  width: 2rem;
  height: 2rem;
}
.swal2-popup .swal2-icon .swal2-icon-content {
  font-size: 2rem;
}
.swal2-popup .swal2-confirm {
  box-shadow: none;
  outline: none;
}

/* react-multi-date-picker */
.custom-input-datepicker,
.custom-input-datepickerEn {
  height: 40px;
  background-color: aliceblue;
  border-radius: 8px;
  border: none;
  background: none;
  width: 100%;
  font-size: 14px;
}
.custom-input-datepicker:focus,
.custom-input-datepickerEn:focus {
  background-color: transparent;
  outline: none;
}

.custom-calendar-datepicker .rmdp-container,
.custom-calendar-datepickerEn .rmdp-container {
  width: 100%;
}

/* mui */
.MuiTypography-root {
  font-family: myfont !important;
}
.bac {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    ),
    #696969;
}
