@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-feature-settings: "ss02";
}

@layer base {
  @font-face {
    font-family: "myfont";
    src: url(" ./assets/fonts/yekan-bakh-fanum-heavy.d4c376a8.woff");
  }
  @font-face {
    font-family: "iran-reg";
    src: url(" ./assets/fonts/IRANSansX-Regular.woff");
  }
  @font-face {
    font-family: "iran-light";
    src: url(" ./assets/fonts/IRANSansX-Light.woff");
  }
  @font-face {
    font-family: "iran-medium";
    src: url(" ./assets/fonts/IRANSansX-Medium.woff");
  }
  @font-face {
    font-family: "iran-bold";
    src: url(" ./assets/fonts/IRANSansX-Bold.woff");
  }
  @font-face {
    font-family: "iran-semibold";
    src: url(" ./assets/fonts/IRANSansX-DemiBold.woff");
  }
  @font-face {
    font-family: "iran-extrabold";
    src: url(" ./assets/fonts/IRANSansX-ExtraBold.woff");
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

input {
  all: unset;
}

/* color variables */
:root {
  --primary-color: #65b554;
  --secondary-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    #65b554;
  --warning-color: #ff7a00;
  --error-color: #ff002d;
  --success-color: #179e2a;
  --primary-text-color: #332f2f;
  --secondary-text-color: #79747e;
  --primary-background-color: rgba(233, 238, 239, 0.6);
  --secondary-background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #65b554;
}

body {
  color: var(--primary-text-color);
}
.ticket-btn {
  border: 2px solid var(--warning-color);
  color: var(--warning-color);
  width: 100%;
  border-radius: 8px;
}

.MuiModal-backdrop {
  opacity: 0.3 !important;
}

.med {
  font-family: iran-medium;
}

.bord {
  border-bottom: 1px solid black;
}

.scrol-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none !important;
}

.bord{
  border: 1.3px solid rgba(0, 0, 0, 0.322);
  border-radius: 6px;
}
.bord-b{
  border-bottom: 1.3px black dashed;
}
